<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Camera Control UI</title>
<link rel="stylesheet" href="/css/bulma.min.css">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="box">
          <canvas id="cameraStream" width="100%" height="100%"></canvas>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <span class="log-info">Operating log...</span>
            </p>
            <p class="control">
              <span class="select">
                <select id="cameraList">
                  <!-- Camera options will be populated here -->
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="buttons button-row">
          <button id="cameraCalibration" class="button">相机标定</button>
          <button id="cameraSettings" class="button">相机设置</button>
          <button id="markerSettings" class="button">标靶设置</button>
        </div>
        <hr>
        <div class="buttons button-row">
          <button id="startCamera" class="button">开始</button>
          <button id="stopCamera" class="button">停止</button>
          <button id="captureImage" class="button">拍照</button>
      </div>
    </div>
  </div>
</section>
<script src="/js/fabric.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
